# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [105]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [106]:
file = '../WeatherPy/weather_data.csv'
weather_data = pd.read_csv(file)
weather_d = weather_data.loc[(weather_data['City']=='cape town')]
weather_d

,City,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
109,cape town,-33.93,18.42,46.4,75,66,4.1

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [107]:
locations = weather_data[["Latitude", "Longitude"]]
humidity = weather_data['Humidity (%)']

In [108]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [109]:
#Weather Conditions
# 65 < max temp < 85
temp_crit_max = 85
temp_crit_min = 65
# humidity < 35
humid_crit = 30
# cloudiness < 85
cloud_crit = 50
# wind speed < 5
wind_crit = 5
weather_crit = weather_data.loc[((weather_data['Max Temp (F)']<=temp_crit_max))&(weather_data['Max Temp (F)']>=temp_crit_min)&(weather_data['Humidity (%)']<=humid_crit)&(weather_data['Cloudiness (%)']<=cloud_crit)&(weather_data['Wind Speed (mph)']<=wind_crit)]
weather_crit

,City,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
148,yulara,-25.24,130.99,69.800,16,4,4.60
247,mount isa,-20.73,139.50,75.200,14,0,4.10
276,faya,18.39,42.45,80.600,16,13,4.10
292,leh,34.17,77.58,67.046,24,2,2.78
336,nyimba,-14.56,30.81,74.714,25,6,2.39
340,saurimo,-9.66,20.39,66.074,26,6,4.72
411,berdigestyakh,62.10,126.70,84.200,30,3,2.74
465,kapiri mposhi,-13.97,28.68,66.434,29,0,4.63
493,cheney,47.49,-117.58,69.800,30,40,3.10
502,siavonga,-16.54,28.71,68.810,30,0,1.03

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [110]:
hotel_df = pd.DataFrame(weather_crit)
hotel_df = hotel_df.reset_index(drop = True)
hotel_df

,City,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,yulara,-25.24,130.99,69.800,16,4,4.60
1,mount isa,-20.73,139.50,75.200,14,0,4.10
2,faya,18.39,42.45,80.600,16,13,4.10
3,leh,34.17,77.58,67.046,24,2,2.78
4,nyimba,-14.56,30.81,74.714,25,6,2.39
5,saurimo,-9.66,20.39,66.074,26,6,4.72
6,berdigestyakh,62.10,126.70,84.200,30,3,2.74
7,kapiri mposhi,-13.97,28.68,66.434,29,0,4.63
8,cheney,47.49,-117.58,69.800,30,40,3.10
9,siavonga,-16.54,28.71,68.810,30,0,1.03

In [113]:
names=[]
# base_url = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?locations={lat},{lng}&radius=5000&type=hotel&key={g_key}'
base_url = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location='
key = '&radius=5000&type=hotel&key=AIzaSyCeCgFBnfA61J9yAo-OGwp0ElT6tAEH06g'
for index, row in hotel_df.iterrows():
    lat = row['Latitude']
    lng = row['Longitude']
    response = requests.get(base_url+str(lat)+','+str(lng)+key).json()
    names.append(response['results'][1]['name'])

In [116]:
hotel_name = pd.DataFrame(names)
hotel_df.join(hotel_name)
# hotel_df = hotel_df.rename(columns={'0':'Hotel Name'})
hotel_df

,City,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,yulara,-25.24,130.99,69.800,16,4,4.60
1,mount isa,-20.73,139.50,75.200,14,0,4.10
2,faya,18.39,42.45,80.600,16,13,4.10
3,leh,34.17,77.58,67.046,24,2,2.78
4,nyimba,-14.56,30.81,74.714,25,6,2.39
5,saurimo,-9.66,20.39,66.074,26,6,4.72
6,berdigestyakh,62.10,126.70,84.200,30,3,2.74
7,kapiri mposhi,-13.97,28.68,66.434,29,0,4.63
8,cheney,47.49,-117.58,69.800,30,40,3.10
9,siavonga,-16.54,28.71,68.810,30,0,1.03

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure