# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [6]:
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
file = '../WeatherPy/weather_data.csv'
weather_data = pd.read_csv(file)
weather_data.head()

,City,Country,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,mataura,NZ,-46.19,168.86,39.002,83,100,1.34
1,beringovskiy,RU,63.05,179.32,52.142,82,99,2.36
2,coquimbo,CL,-29.95,-71.34,50.000,93,48,2.10
3,vestmannaeyjar,IS,63.44,-20.27,50.000,76,40,11.30
4,cape town,ZA,-33.93,18.42,59.000,43,0,2.60

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
locations = weather_data[["Latitude", "Longitude"]]
humidity = weather_data['Humidity (%)']

In [12]:
# Plot Heatmap
fig = gmaps.figure()

# # Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# # Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
#Weather Conditions
# 65 < max temp < 85
temp_crit_max = 85
temp_crit_min = 65
# humidity < 35
humid_crit = 30
# cloudiness < 85
cloud_crit = 50
# wind speed < 5
wind_crit = 5
weather_crit = weather_data.loc[((weather_data['Max Temp (F)']<=temp_crit_max))&(weather_data['Max Temp (F)']>=temp_crit_min)&(weather_data['Humidity (%)']<=humid_crit)&(weather_data['Cloudiness (%)']<=cloud_crit)&(weather_data['Wind Speed (mph)']<=wind_crit)]
weather_crit

,City,Country,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
44,port alfred,ZA,-33.59,26.89,66.650,26,0,2.92
110,taywarah,AF,33.35,64.42,75.290,21,41,1.25
125,saint george,US,37.10,-113.58,84.200,18,1,3.10
184,alice springs,AU,-23.70,133.88,75.002,18,1,4.10
325,emerald,AU,-23.53,148.17,68.000,20,0,4.10
339,tarbagatay,RU,51.48,107.36,71.600,30,40,3.00
374,hovd,MN,48.01,91.64,73.454,30,0,4.22
377,winnemucca,US,40.97,-117.74,73.400,18,1,3.60
451,plettenberg bay,ZA,-34.05,23.37,66.056,27,0,1.25
528,riverton,US,40.52,-111.94,78.800,27,1,3.10
536,khandyga,RU,62.67,135.60,84.848,28,0,0.93

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [24]:
hotel_df = pd.DataFrame(weather_crit)
hotel_df = hotel_df.reset_index(drop = True)
hotel_df['Hotel Name'] = ""
hotel_df

,City,Country,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name
0,port alfred,ZA,-33.59,26.89,66.650,26,0,2.92,
1,taywarah,AF,33.35,64.42,75.290,21,41,1.25,
2,saint george,US,37.10,-113.58,84.200,18,1,3.10,
3,alice springs,AU,-23.70,133.88,75.002,18,1,4.10,
4,emerald,AU,-23.53,148.17,68.000,20,0,4.10,
5,tarbagatay,RU,51.48,107.36,71.600,30,40,3.00,
6,hovd,MN,48.01,91.64,73.454,30,0,4.22,
7,winnemucca,US,40.97,-117.74,73.400,18,1,3.60,
8,plettenberg bay,ZA,-34.05,23.37,66.056,27,0,1.25,
9,riverton,US,40.52,-111.94,78.800,27,1,3.10,
10,khandyga,RU,62.67,135.60,84.848,28,0,0.93,

In [23]:
names=[]
# base_url = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?locations={lat},{lng}&radius=5000&type=hotel&key={g_key}'
base_url = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location='
key = '&radius=5000&type=hotel&key=AIzaSyCeCgFBnfA61J9yAo-OGwp0ElT6tAEH06g'
for index, row in hotel_df.iterrows():
    lat = row['Latitude']
    lng = row['Longitude']
    response = requests.get(base_url+str(lat)+','+str(lng)+key).json()
    names.append(response['results'][1]['name'])

IndexError: list index out of range

In [58]:
# hotel_name = pd.DataFrame(names)
# hotel_df.join(hotel_name)
# hotel_df = hotel_df.rename(columns={'0':'Hotel Name'})
hotel_names = pd.DataFrame(names)
hotel_df['Hotel Name'] = hotel_names
hotel_df

,City,Country,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name
0,port alfred,ZA,-33.59,26.89,66.650,26,0,2.92,The Halyards Hotel
1,taywarah,AF,33.35,64.42,75.290,21,41,1.25,Sar Wara'in
2,saint george,US,37.10,-113.58,84.200,18,1,3.10,Best Western Plus Abbey Inn
3,alice springs,AU,-23.70,133.88,75.002,18,1,4.10,Desert Palms Alice Springs
4,emerald,AU,-23.53,148.17,68.000,20,0,4.10,The Irish Village
5,tarbagatay,RU,51.48,107.36,71.600,30,40,3.00,Sberbank
6,hovd,MN,48.01,91.64,73.454,30,0,4.22,Fortress of Hovd
7,winnemucca,US,40.97,-117.74,73.400,18,1,3.60,Winners Inn Casino
8,plettenberg bay,ZA,-34.05,23.37,66.056,27,0,1.25,Thanda Vista B&B
9,riverton,US,40.52,-111.94,78.800,27,1,3.10,Ramada by Wyndham Draper
10,khandyga,RU,62.67,135.60,84.848,28,0,0.93,Svyaznoy

In [63]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
location = hotel_df[["Latitude", "Longitude"]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Latitude   11 non-null     float64
 1   Longitude  11 non-null     float64
dtypes: float64(2)
memory usage: 304.0 bytes

In [65]:
# Add marker layer ontop of heat map
marker = gmaps.marker_layer(location, info_box_content=hotel_info)
fig.add_layer(marker)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))